/*
    --------------------------
    ----- Overall -----
    --------------------------
*/

body {
    font-family: 'VT323', sans-serif;
    font-size: 16px
}

body.active {
    overflow: hidden;
    z-index: -1
}

.background {
    /* background: #f2f2f5 */
    background: #0a192f
}

/*
    --------------------------
    ----- Header Section -----
    --------------------------
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    font-size: 27px
}

/* .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: 'VT323', sans-serif;
    font-size: 27px
} */

/* .shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
} */

header ul {
    display: inline-block;
    /* background: #f6f5f5d7 ; #0a192fbf */
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block
}

header a {
    display: block;
    color: #f8479d;
    padding: 20px
}

header a:hover {
     color: #fff; /*#e92383*/ /*#f6f5f5d7 */
    text-decoration: none;
    /* background: #eee; */
    border-radius: 4px
}

header a:focus {
    color: #f8479d;
    text-decoration: none
}



header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

/* #menu.active {
    display: block
} */

/*
    --------------------------
    ----- Main Section  -----
    --------------------------
*/
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f8479d
}


#main {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden
}

#main-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: #217dbbcc; */
    /* background:#ed49989b; */
    background: #0a192fb1;
    z-index: 1
}

#main-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

#main-content h1,
#main-content h2 {
    margin: 0
}

#main-content h1 {
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em
}

#main-content h2 {
    color: #f8479d;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px
}

/*
    --------------------------
    ----- Download Button  -----
    --------------------------
*/

.download-btn {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all
}

.download-btn:hover {
    color: #e92383;
    /* background: #fff; */
    text-decoration: none
}

/*
    --------------------------
    ----- Social Icons (Main)  -----
    --------------------------
*/

.main-social {
    text-align: center
}

.main-social ul {
    margin: 5px 0 0 0;
    padding: 0
}

.main-social li {
    display: inline-block;
    font-size: 1.5em;
    list-style: none
}

.main-social a {
    display: block;
    color: #f6f5f5;
    padding: 10px
}

.main-social a:hover {
    color: #e92383;
}

/*
    --------------------------
    ----- Nav Button (Down)  -----
    --------------------------
*/
/* whole nav arrow */
#nav-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 65px;
    color: #fff
}

/* outside border */
#nav-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #e92383;
    text-align: center
}

/* inside arrow */
#nav-down i {
    animation: pulsate 1s ease;
    animation-iteration-count: infinite;
    padding-top: 9px
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.2, 1.2)
    }

    100% {
        transform: scale(1, 1)
    }
}

/*
    --------------------------
    ----- About Section -----
    --------------------------
*/

/* #about1 {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9
}

#about1 h2 {
    color: #f8479d
    
}

#about1 p {
    color: #74808a;
    margin: 0
} */

/*
    -----------------------------
    ----- About Section -----
    -----------------------------
*/

#about {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center
}

#about h2 {
    color: #f8479d;
    margin-bottom: 50px
}

.about-block {
    max-width: 900px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #f8479d;
    text-align: left;
    /* background-color: #f6f5f5 */
}

.about-block h3 {
    font-weight: 700;
    float: left;
    margin: 0;
    color: #f8479d;
    font-size: 30px
}


.about-block p {
    color: #f6f5f5;
    clear: both;
    /* font-weight: 100; */
    margin: 0 0 1px 0;
    font-size: 25px
}


.about-block span {
    /* margin: 0;
    font-weight: 100; */
    color: #f8479d;
    /* font-size: 15px; */
    
}

.about-block a {
    color: #f8479d;
    text-decoration: underline
}

.about-block a:hover {
    color: #e4e4ea;
    /* text-decoration: none */
}

.about-block ul {
    padding: 0 0 0 15px
}

/*
    ------------------------------
    ----- Experience Section -----
    ------------------------------
*/

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9
}

#experience h2 {
    color:#f8479d
    
}

#experience ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em
}

/*
    ------------------------------
    ----- Experience Timeline -----
    ------------------------------
*/

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #f8479dac;
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #f8479d;
    background: linear-gradient(to bottom, #f8479dc0, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px
}

.timeline-content {
    margin-left: 350px;
    background: #fff; /*#f6f5f5d7*/
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left
}

.timeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.timeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0
}

.timeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.timeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px
}

.timeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #f8479d;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}

.timeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.timeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #f8479d
}


/*
    ---------------------------
    ----- Project Section -----
    ---------------------------
*/

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center
}

#projects h2 {
    color: #f8479d;
    margin-bottom: 50px
}

.project {
    transition: transform .2s;
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #f8479d;
}

.project:hover{
    transform:scale(1.1);
} 

.project-image {
    float: left
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 350px;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin: 0 0 15px 0
    
}

.project-info p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 0.9em
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}


.tech {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 10px;
    list-style-image: initial;
    list-style-type: none;
}

.tech li {
    margin-right: 20px;
    margin-bottom: 7px;
    white-space: nowrap;
    position: relative;
}

/*
    --------------------------
    ----- Skills Section -----
    --------------------------
*/

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #e92383;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #e92383;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}


/*
    --------------------------
    ----- Footer Section -----
    --------------------------
*/

footer {
    padding: 50px 0
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: #e2398bbb
}

/*
    ----------------------------
    ----- Nav Button (Up)  -----
    ----------------------------
*/

.top {
    text-align: center;
    color: #fff
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #e92383;
    text-align: center
}

.top i {
    animation: pulsate 1s ease;
    animation-iteration-count: infinite

}


/*
    ----------------------------------
    ----- Social Icons (Footer)  -----
    ----------------------------------
*/

.footer-social {
    text-align: right
}

.footer-social ul {
    margin: 5px 0 0 0;
    padding: 0
}

.footer-social li {
    display: inline-block;
    font-size: 1.5em;
    list-style: none
}

.footer-social a {
    display: block;
    color: #e92383;;
    padding: 10px
}

.footer-social a:hover {
    color: #fff;
}
